.storeFeatures {
    background-color: var(--blue);
    color: #fff;
}

.featureContainer {
    max-width: 600px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.feature {
    padding: 30px;
    text-align: center;
}
.feature i {
    font-size: 30px;
    color: var(--yellow);
}

.storeDetails {
    padding: 20px;
    text-align: center;
}

.storeDetails h4 {
    text-transform: uppercase;
    margin: 10px 0;
}