.address {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
  padding: 10px;
  max-width: 250px;
  min-height: 120px;
  cursor: pointer;
  position: relative;
}

.address .check {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--blue);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(50%);
  box-shadow: 0px 0px 10px 1px rgba(39, 102, 204, 0.32);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(39, 102, 204, 0.32);
  -moz-box-shadow: 0px 0px 10px 1px rgba(39, 102, 204, 0.32);
  /* transform: translateY(-10px); */
  z-index: 500;
  visibility: hidden;
}

.phone {
  margin: 10px 0;
  font-weight: 600;
}

.address span {
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
span.delete {
  margin-left: 30px;
  color: red;
}

.address.selected {
  border: 1px solid var(--blue);
  background-color: rgba(39, 102, 204, 0.03);
}

.address.selected .check {
  visibility: visible;
}
