
/* .bag {
    flex: 1;
    margin: 30px;
} */

.bagHeader {
    display: flex;
    align-items: center;
    gap: 10px;
}
.bagHeader h3 {
    font-size: 20px;
}

.bagContainer {
    position: relative;
    margin: 10px 0;
}
.number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height: 25px;
    width: 30px;
    border-radius: 5px;
    background-color: var(--blue);
    color: #fff;
}
.clear {
    position: absolute;
    right: 0;
    top: -50px;
    color: grey;
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
}
.clear.hide {
    visibility: hidden;
}